/* RouterControl.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3.5px solid #1f3c26;
  padding: 10px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.selectDestination {
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 10px 0;
  height: 35px;
  background-color: #d6d1b5;
  border: 2.5px solid #1f3c26;
  color: #1f3c26;
  padding: 0 0 0 10px;
}

.selectDestination::placeholder {
  color: #1f3c26;
  padding: 5px;
}

.selectDestination:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonActivate {
  border-radius: 0;
  background-color: #1f3c26;
  border: 2.5px solid #1f3c26;
  color: #d6d1b5;
  width: 48%;
  font-size: 15px;
  padding: 0;
  height: 43px;
  box-shadow: 0 1px 0 #1f3c26;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.buttonDeactivate {
  border-radius: 0;
  background-color: #7c1d1d;
  border: 2.5px solid #1f3c26;
  color: #d6d1b5;
  width: 48%;
  font-size: 15px;
  padding: 0;
  height: 43px;
  box-shadow: 0 1px 0 #1f3c26;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.buttonActivate:hover {
  background-color: #61a163;
  color: #d6d1b5;
  border: 3.5px solid #1f3c26;
}

.buttonDeactivate:hover {
  background-color: red;
  color: #d6d1b5;
  border: 3.5px solid #1f3c26;
}

/* Push effect on click */
.buttonActivate:active,
.buttonDeactivate:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #1f3c26;
  outline: none;
}

.buttonActivate:focus,
.buttonDeactivate:focus {
  outline: none;
}
