/* DepositWithdraw.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3.5px solid #1f3c26;
  padding: 10px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.amount {
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  height: 35px;
  width: 45%;
  background-color: #d6d1b5;
  border: 2.5px solid #1f3c26;
  color: #1f3c26;
  padding: 0 0 0 10px;
}

.amount::placeholder {
  color: #1f3c26;
  padding: 5px;
}

.amount:focus {
  outline: none;
}

.buttonDeposit {
  border-radius: 0;
  background-color: #1f3c26;
  border: 2.5px solid #1f3c26;
  color: #d6d1b5;
  width: 25%;
  font-size: 15px;
  padding: 0;
  height: 39px;
  box-shadow: 0 1px 0 #1f3c26;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button {
  border-radius: 0;
  background-color: #d6d1b5;
  border: 2.5px solid #1f3c26;
  color: #1f3c26;
  width: 25%;
  font-size: 15px;
  padding: 0;
  height: 39px;
  box-shadow: 0 1px 0 #1f3c26;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #1f3c26;
  color: #d6d1b5;
  border: 3.5px solid #1f3c26;
}

.buttonDeposit:hover,
.button:hover {
  background-color: #61a163;
  color: #d6d1b5;
  border: 3.5px solid #1f3c26;
}

/* Push effect on click */
.button:active,
.buttonDeposit:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #1f3c26;
  outline: none;
}

.button:focus,
.buttonDeposit:focus {
  outline: none;
}
