/* RouterStatus.module.css */
.container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid #1f3c26;
  padding: 10px 0;
}
.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 0 5px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subTitle {
  font-size: 14px;
  font-weight: 100;
}

.collapsible summary {
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 15px;
}

.collapsible[open] summary {
  margin-bottom: 0.5rem;
}
