/* RouterStatus.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-bottom: 3.5px solid #1f3c26;
  padding: 10px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subTitle {
  font-size: 14px;
  font-weight: 100;
}

.selectDestination {
  font-size: 24px;
  font-weight: 100;
  margin: 0 0 10px 0;
  height: 44px;
  background-color: #d6d1b5;
  border: 3.5px solid #1f3c26;
  color: #1f3c26;
  padding: 0 0 0 10px;
}

.selectDestination::placeholder {
  color: #1f3c26;
  padding: 5px;
}

.selectDestination:focus {
  outline: none;
}

/* .statusContainer {
  background-color: #d6d1b5;
  border: 3px solid #1f3c26;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  color: #1f3c26;
  width: 100%;
  max-width: 400px;
}

.statusHeader {
  font-size: 18px;
  cursor: pointer;
  outline: none;
  list-style: none;
  font-weight: bold;
}

.statusHeader::-webkit-details-marker {
  display: none;
} */
