/* Header.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 3.5px solid #1f3c26;
  padding-bottom: 18px;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.4;
}

.subTitle {
  font-size: 18px;
  font-weight: 100;
}
